In this we will trained our neural network by pytorch to classify based on the given data what type of iris is present

In [1]:
import torch.nn as nn
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder , StandardScaler

In [7]:
iris=load_iris()
iris_dataframe=pd.DataFrame(iris.data , columns=iris.feature_names)  #here we are only getting the features

In [8]:
iris_dataframe.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [9]:
iris_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [11]:
# now add the target
iris_dataframe['Iris_type']=iris.target

In [12]:
iris_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   Iris_type          150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [17]:
iris_dataframe['Iris_type'].value_counts()

Iris_type
0    50
1    50
2    50
Name: count, dtype: int64

In [19]:
# Since everything thing in in the numerical form so, no need to use label encoder or any other thing
# directly split the data and then standardized it and then from the neural network and the trained it 
X=iris_dataframe.drop('Iris_type', axis=1)
print(X)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [20]:
Y=iris_dataframe['Iris_type']
print(Y)

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Iris_type, Length: 150, dtype: int64

In [24]:
x_train , x_test ,y_train , y_test= train_test_split(X, Y , test_size=0.3 , random_state=42)